body {
	width: 100%;
	margin: 0px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
}
a {
	color: #FFF;
}
#barraTopo {
	background-color: #335;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 32px;
}
#barraTopo a.logo {
	float: right;
}
#barraTopo a.logo img {
	background-color: #114;
}
#barraTopo div.botoes {
	display: flex;
	height: 32px;
}
#barraTopo button {
	margin: 0px 1px;
	padding: 0px;
	width: 32px;
	background-color: #446;
	border: 1px outset #557;
	cursor: pointer;
	outline: none;
}
#barraTopo button:hover {
	background-color: #668;
}
#barraTopo button:active {
	background-color: #557;
}
#barraTopo p {
	margin: 0px;
	padding: 0px 5px;
	height: 32px;
	font-size: 20px;
	color: #FFF;
	text-shadow: 1px 1px 2px #FFF;
	font-weight: bold;
	float: left;
	background-color: #114;
}
#barraTopo p img {
	vertical-align: top;
}
#paleta {
	width: 100%;
	height: 96px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #335;
	vertical-align: top;
}
#paleta #defineCor {
	display: inline-block;
	width: 72px;
	height: 69px;
}
#paleta .corTela {
	width: 48px;
	height: 48px;
	position: absolute;
	border: 2px groove #557;
}
#paleta #cor1 {
	bottom: 22px;
	left: 0px;
	z-index: 2;
}
#paleta #cor2 {
	bottom: 0px;
	left: 22px;
	z-index: 1;
}
#paleta #cores {
	background-color: #224;
	width: calc(100% - 76px);
	height: 69px;
	overflow-y: scroll;
	display: inline-block;
}
#paleta #cores div {
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
}
#paleta #cores div.selecionado {
	outline: #0F0 dashed 2px;
	z-index: 3;
}
#paleta button {
	width: 20px;
	height: 20px;
	position: absolute;
	cursor: pointer;
	background-color: #446;
	border: 1px outset #557;
	outline: none;
	padding: 0px;
}
#paleta button:hover {
	background-color: #668;
}
#paleta button:active {
	background-color: #557;
}
#paleta #inverteCor {
	left: 1px;
	bottom: 1px;
}
#paleta #resetaCor {
	left: 53px;
	bottom: 53px;
}
#paleta #parametros {
	display: flex;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 24px;
}
#paleta #parametros>div {
	display: inline-block;
	color: #FFF;
	border: 2px groove #557;
}
#paleta input {
	width: 60px;
	height: 20px;
}
#paleta div.zoom button {
	position: relative;
}
#ferramentas {
	width: 64px;
	height: calc(100% - 128px);
	position: absolute;
	top: 32px;
	left: 0px;
	background-color: #224;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	text-align: center;
}
#ferramentas button {
	background-color: #335;
	border: 1px outset #446;
	height: 32px;
	flex-grow: 2;
	margin: 1px;
	cursor: pointer;
	outline: none;
	padding: 0px;
}
#ferramentas button:hover {
	background-color: #557;
}
#ferramentas button:active, #ferramentas button.selecionado {
	background-color: #446;
}
#container {
	width: calc(100% - 64px);
	height: calc(100% - 128px);
	position: absolute;
	top: 32px;
	left: 64px;
	background-color: #668;
	overflow: scroll;
	user-select: none;
}
#container::-webkit-scrollbar {
	background-color: transparent;
}
#container::-webkit-scrollbar-button {
	display: none;
}
#container::-webkit-scrollbar-corner {
	background-color: #446;
}
#container::-webkit-scrollbar-thumb {
	background-color: #335;
	border: 2px solid #446;
}
#container::-webkit-scrollbar-track {
	background-color: #557;
}
#tela {
	background-color: #FFF;
	background-size: 1px 1px;
	background-image:
		linear-gradient(to right, #CCC 0px, transparent 0.1px, #DDD 1px),
		linear-gradient(to bottom, #DDD 0px, transparent 0.1px, #DDD 1px);
	margin: 5px;
	transform-origin: 0px 0px;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	z-index: 2;
	position: absolute;
	cursor: crosshair;
}
#telaLimits {
	margin: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	box-shadow: 2px 5px 4px #0004;
}